.CategoryButtons {
  display: flex;
  flex-wrap: wrap;
}

.CategoryButtons > button {
  font-size: 1rem;
  margin: 0.1rem;
  padding: 0.5rem 1rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.5rem;
  background-color: lavenderblush;
  color: black;
}

button.selected {
  background-color: black;
  color: lavenderblush;
}